body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    min-width: 300px;
    background-color: #fff;
    padding: 4%;
    border: 2px solid #2C1D61;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #6845E6;
}

label {
    color: #3100E0;
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #2C1D61;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #2600AD;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3100E0;
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }
}

/* Adicione isso ao final do seu arquivo style.css */
.dark-mode {
    background-color: #333;
    color: #000;
    border: 2px solid #5d0065;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dark-mode h2 {
    color: #5d0065;
}

.dark-mode label {
    color: #5d0065;
}

.dark-mode input[type="text"],
.dark-mode input[type="email"],
.dark-mode input[type="password"],
.dark-mode input[type="date"] {
    border: 1px solid #555;
    background-color: #444;
    color: #fff;
}

.dark-mode input[type="submit"],
#toggleModeButton {
    background-color: #5d0065;
}

.dark-mode input[type="submit"]:hover,
#toggleModeButton:hover {
    background-color: #5d0065;
}

/* Adicione isso ao final do seu arquivo style.css */
#toggleModeButton {
    background-color: #2600AD;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#toggleModeButton:hover {
    background-color: #5d0065;
}
